<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Tickets</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.min.css}">
</head>
<body class="bg-light">
    <div class="container py-4">
        <header th:replace="fragments/header :: header('Edit Ticket ' + ${ticket.name})"></header>
        
        <div class="card shadow-sm">
            <div class="card-body">
                <form th:action="@{|/tickets/edit/${ticket.id}|}" th:object="${ticket}" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter ticket name"  maxlength="30" th:errorclass="is-invalid" th:attr="disabled=${isReadOnly}" required>
                        <input type="hidden" th:field="*{name}" th:attr="disabled=${!isReadOnly}"/>
                        <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                            <ul class="ps-3">
                                <li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" aria-label="Status select" th:field="*{status}" th:errorclass="is-invalid" required>
                            <option value="" disabled selected>Choose a status</option>
                            <option value="OPEN">Open</option>
                            <option value="IN_PROGRSS">In Progress</option>
                            <option value="CLOSED">Closed</option>
                            <option value="ON_HOLD">On Hold</option>
                          </select>
                        <div th:if="${#fields.hasErrors('status')}" class="invalid-feedback">
                            <ul class="ps-3">
                                <li th:each="error : ${#fields.errors('status')}" th:text="${error}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="mb-1">
                            <label th:for="operator" class="form-label">Operator</label>
                            <select class="form-select" aria-label="Operator select" th:field="*{operator}" th:errorclass="is-invalid" th:attr="disabled=${isReadOnly}" required>
                                <option value="" disabled selected>Choose an operator</option>
                                <option th:each="operator : ${operators}" th:value="${operator.id}" th:text="${operator.firstName} + ' ' + ${operator.lastName}">Full Name</option>
                              </select>
                            <input type="hidden" th:field="*{operator.id}" th:attr="disabled=${!isReadOnly}"/>
                            <div th:if="${#fields.hasErrors('operator')}" class="invalid-feedback">
                                <ul class="ps-3">
                                    <li th:each="error : ${#fields.errors('operator')}" th:text="${error}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-outline-primary" th:text="${isReadOnly} ? 'Update Status' : 'Edit Ticket'">Edit</button>
                        <a th:href="@{/tickets}" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>