<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticket Platform</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.min.css}">
</head>

<body class="bg-light">
    <div class="container py-4">
        <header th:replace="fragments/header :: header('Ticket List')"></header>
        <th:block th:replace="fragments/alert :: alert(${message}, ${messageClass})"></th:block>
        <table class="table table-bordered table-hover align-middle">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Operator</th>
                    <th scope="col" class="d-none d-sm-table-cell">Status</th>
                    <th scope="col" class="text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td th:text="${ticket.name}"></td>
                    <td th:text="${ticket.operator.firstName} + ' ' + ${ticket.operator.lastName}"></td>
                    <td th:text="${ticket.status}" class="d-none d-sm-table-cell"></td>
                    <td class="text-end">
                        <div class="dropdown">
                            <a class="btn btn-sm btn-outline-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" th:href="@{|/tickets/${ticket.id}|}">Details</a></li>
                              <li><a class="dropdown-item" th:href="@{|/tickets/edit/${ticket.id}|}">Edit</a></li>
                              <li><a class="dropdown-item" th:href="@{|/tickets/${ticket.id}/note|}">Add Notes</a></li>
                              <li><a class="dropdown-item" th:href="@{|/tickets/status/${ticket.id}|}">Update Status</a></li>
                              <li>
                                <form th:action="@{|/tickets/delete/${ticket.id}|}" method="POST">
                                    <button type="submit" class="dropdown-item text-danger">Delete</button>
                                </form>
                              </li>
                            </ul>
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>