<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Platform - Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>

<body class="bg-light d-flex vh-100 justify-content-center align-items-center">

    <div class="col-md-6 col-lg-4">
        <div class="card p-4 shadow-sm">
            <div class="card-body">

                <h2 class="card-title text-center mb-4 pb-3">Are you logging out?</h2>

                <form th:action="@{/logout}" method="post" class="mt-4">
                    <button type="submit" class="btn btn-outline-danger w-100">Logout</button>
                </form>

                <a class="btn btn-outline-secondary w-100 mt-4" th:href="@{/tickets}">Cancel</a>

            </div>
        </div>

        <div class="text-center mt-3">
            <small>&copy; 2025 | Rocco Giordano</small>
        </div>
    </div>

    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

</body>

</html>