<header th:fragment="header(text)" class="pb-3 mb-4 border-bottom d-flex justify-content-between align-items-center">
    <h1 class="display-4 text-primary" th:text="${text}">Ticket Platform</h1>
    <div class="d-flex gap-3">
        <form class="d-flex" role="search" method="GET" th:action="@{/pizzas/search}">
            <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="form-control ms-2" type="search" name="name" placeholder="Search" aria-label="Search">
        </form>
        <a class="btn btn-outline-danger" th:href="@{'/logout'}"><i class="fa-solid fa-power-off"></i></a>
    </div>
</header>